
[Desktop Entry]
Name=OpenLaptop Hulpprogramma
Comment=Hulpprogramma voor OpenLaptop systemen
Icon=openlaptop-hulpprogramma
Exec=openlaptop-hulpprogramma
Terminal=false
Type=Application
Categories=Application;GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings
NotShowIn=KDE;
X-GNOME-Settings-Panel=openlaptop-hulpprogramma
Name[en_US]=OpenLaptop Utility
Name[nl_NL]=OpenLaptop Hulpprogramma
